    <mat-toolbar  class="PageTitle" style="background-color:transparent">
        <span class="toolbar-spacer"></span>
    <span color="primary">   <h2>  {{reportName}} </h2> </span>
    <span class="toolbar-spacer"></span>
    </mat-toolbar>   
    
    
    <div  class="PageTitl col-md-12 col-sm-12 right">
            <div   class=" col-md-12 col-sm-12 contane"  dir="rtl"  >
         
                    <div  *ngIf="hasDate" class=" col-md-4 col-sm-6 right" > 
                            <mat-form-field class="headerText">
                                <input   [value]='startDate' matInput [matDatepicker]="picker" placeholder=" من تاريخ " (dateChange)="changeDate('from', $event) " >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false" ></mat-datepicker>
                            </mat-form-field>
                        </div>
            <!-- <span class="toolbar-spacer"></span> -->
      


            <div  *ngIf="hasDate" class=" col-md-4 col-sm-6 right" > 
            <mat-form-field class="headerText">
                <input matInput  [value]='endDate'  [matDatepicker]="ToDate" placeholder=" إلى تاريخ " (dateChange)="changeDate('to', $event)" >
                <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                <mat-datepicker   #ToDate disabled="false"  ></mat-datepicker>
            </mat-form-field>
            </div> 

            <div class="reportBar col-md-4 col-sm-12 right" *ngIf="hasSelection" >
                    <mat-form-field class="headerText" >
                    <mat-select placeholder="اسم الموظف" [(ngModel)]="selectedValue" name="item" (change)='changeProduct()' >
                        <mat-option *ngFor="let item of items" [value]=" item.$key ">
                            {{item.name}}
                        </mat-option>        
                    </mat-select>
                    </mat-form-field>
                </div>
          



 </div>
 </div>
 <div   class=" col-md-12 col-sm-12 "  >

    <flash-messages></flash-messages>

</div>
    <div class="col-md-12 col-sm-12 right">
    <mat-tab-group class="tab-group" (selectedTabChange)='selectChange($event)' >
        <mat-tab label="التقرير" >
        <div class="tabContent">

            <mat-table #table  class="reportTable" [dataSource]="dataSource" matSort>

                
                
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > التاريخ </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.date.toISOString().substring(0,10)}} </mat-cell>
                    <mat-cell *matCellDef="let row"> {{row.date.toISOString().substring(0,10)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="checkIn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> بداية الفترة </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.checkIn.toString().substring(11)}} </mat-cell>
                    </ng-container>
                        <ng-container matColumnDef="checkOut">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> نهاية الفترة  </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.checkOut.toString().substring(11)}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="totalShiftTime">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>  مدة الفترة</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.totalShiftTime }} </mat-cell>
                        </ng-container>
                        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator dir="rtl" [pageSizeOptions]="[5, 10, 15, 100]" ></mat-paginator>          
        </div>
        </mat-tab>
        <mat-tab label="الرسم البياني">
            <div class="tabContent"  *ngIf="chart" >
                <canvas id="pie"  class="chart-pie" style=" width:fit-content ; height:fit-content;     overflow:hidden;" ></canvas>
            
            </div>    
        </mat-tab>
    </mat-tab-group>
    </div>
    