
.example-container {
  width: 100%;
  height:  stretch;
  height: 45px;
    min-height: 25px;

}
mat-expansion-panel
{
text-indent: 2px;
padding:0px;
margin: 0px;
}
mat-expansion-panel-header
{
padding-right: 0px;
margin-right: 0px;
font-weight: 500;
}
body 
{
direction: rtl;
float: right;
font-family:'Amiri', serif;
}
.rightcontiner
{
margin-right: 3
}
.sideNItemav
{
  
line-height: 2;
}
.example-header-image
{
display: block;
align-content: center;
align-self: center;
text-align: center;
height: 45px;
}
.img-logo
{
display: block;
align-content: center;
align-self: center;
text-align: center;
/* margin-top: 1em;
border-top: 0.2em solid #a8a8a8; */
/* border-top: 0.2em solid #6dc4e2; */
padding: 20px 0px;

}

.hello
{
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 1em;
  font-size: 1em;
  color:#A8A8A8;
 
}
.example-header-image img
{
  width: 45px;
  height: 45px;
}
.example-sidenav-content {
  display: block;
  height: -webkit-fill-available;
  /* width:90%;  */
  align-items: right;
  justify-content: right;
  /* margin-right:240px; */
}
.mat-sidenav
{

    transform: translate3d(+100,0,0);
}
.primary
{

  background-color:#484848    ;
  /* #90caf9; */
}
mat-sidenav mat-nav-list mat-accordion  mat-expansion-panel  mat-expansion-panel-header mat-panel-title , 
mat-sidenav mat-nav-list mat-accordion  mat-expansion-panel a 
{
  color: #A8A8A8;
  font-weight: 800;
  font-size: 16px;
}
mat-sidenav mat-nav-list mat-accordion  mat-expansion-panel  mat-expansion-panel-header mat-panel-title mat-icon ,
mat-sidenav mat-nav-list mat-accordion  mat-expansion-panel a mat-icon ,
mat-icon 
{
  color: #6dc4e2 !important;
}
.mat-drawer-transition .mat-drawer-content
{
  margin-right: 190px;
  margin-left: 0px;
}
.logoImg
{
  border-radius: 45%;
}
.example-sidenav {
  /* width: 100%; */
  height: 750px;
  padding: 0px;
  align-items: right;
  justify-content: right;
}

.demo-panel {
  margin: 10px 0px;
}

.demo-panel {
  margin: 10px 0px;
}

.toolbar-icon {
  padding: 0px 30px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
img.rounded-circle{
  width: 45px;
  height: 45px;
}
size1 {
  color: #6dc4e2;
  font-size: 9px;
  

}
