<mat-toolbar  class="example-is-mobile example-toolbar">
    <mat-toolbar-row>
      <span>
        <div class="example-header-image"><img src='assets/imgs/EradLogo++2.png'></div> 
        </span>
        <span>
      <div class="example-header-image"><img src='assets/imgs/EradLogo++1.png'></div> </span>
    <span class="toolbar-spacer"></span>
  
    
      <button mat-icon-button (click)="snav.toggle()"color="primary"><mat-icon>menu</mat-icon></button>
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
    
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
    
   
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>apps</mat-icon>
        </button>
    </mat-toolbar-row>
  
  </mat-toolbar>




<mat-menu #menu>

<button mat-menu-item>

  <mat-icon> account_box </mat-icon>
  <span> الحساب الشخصي </span>
</button>

<button mat-menu-item>
    <mat-icon> build </mat-icon>
    <span> الإعدادات  </span>
  </button>

  <button mat-menu-item>
      <mat-icon> help </mat-icon>
      <span> المساعدة  </span>
    </button>

    <button mat-menu-item>
        <mat-icon> exit_to_app </mat-icon>
        <span> تسجيل الخروج  </span>
      </button>
</mat-menu>
                <!-- comment   -->



  <mat-sidenav-container color="accent" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
     
      <mat-sidenav  color="accent" class="mat-sidenav primary"  #snav [mode]="mobileQuery.matches ? 'push' : 'side'" [opened]="mobileQuery.matches ? 'false':'true'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list  >
          <!-- <div class="example-header-image"><img src='assets/imgs/EradLogo++1.png'></div> -->
        <mat-accordion color="accent" >
            <mat-expansion-panel  [hideToggle]='true' class="primary" [style.border-right]="EmpState ?  '5px solid   #9DE4F4': '' " 
            (opened)="EmpState = true"
            (closed)="EmpState = false"
            [style.box-shadow]="true ? '0 0 0 ':'0 0 0 ' "          >
              <mat-expansion-panel-header >
                <mat-panel-title>
                    <mat-icon>supervisor_account </mat-icon> <span>الموظفين </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a mat-list-item routerLink="empolyee" >  <mat-icon>supervisor_account </mat-icon> <span>عرض الموظفين   </span></a>
              <a mat-list-item routerLink="Add_employee" >  <mat-icon>add </mat-icon> <span>إضافة موظف جديد  </span></a>
            </mat-expansion-panel>

            <mat-expansion-panel 
            [hideToggle]='true'
            class="primary" [style.border-right]="TagState ?  '5px solid   #9DE4F4': '' " 
            (opened)="TagState = true"
            (closed)="TagState = false"
            [style.box-shadow]="true ? '0 0 0 ':'0 0 0 ' ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon> local_offer </mat-icon> <span>التصنيفات  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <a mat-list-item routerLink="tags" >  <mat-icon>local_offer </mat-icon> <span>عرض التصنيفات    </span></a>
                <a mat-list-item routerLink="Add_Tag" >  <mat-icon>add</mat-icon> <span>إضافة تصنيف جديد   </span></a>
              </mat-expansion-panel>
        
          <mat-expansion-panel 
          [hideToggle]='true'
          class="primary" [style.border-right]="ProdState ?  '5px solid   #9DE4F4': '' " 
          (opened)="ProdState = true"
          (closed)="ProdState = false"
          [style.box-shadow]="true ? '0 0 0 ':'0 0 0 ' ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon> work </mat-icon> <span>المنتجات  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <a mat-list-item routerLink="product" >  <mat-icon>work </mat-icon> <span>عرض المنتجات    </span></a>
                <a mat-list-item routerLink="Add_Product/:id" >  <mat-icon>add </mat-icon> <span>إضافة منتج جديد   </span></a>
              </mat-expansion-panel>
          

          <mat-expansion-panel 
          [hideToggle]='true'
          class="primary" [style.border-right]="ChartsState ?  '5px solid   #9DE4F4': '' " 
          (opened)="ChartsState = true"
          (closed)="ChartsState = false"
          [style.box-shadow]="true ? '0 0 0 ':'0 0 0 ' ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon> show_chart </mat-icon> <span>التقارير والرسوم البيانية  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <a mat-list-item routerLink="charts" >  <mat-icon>show_chart </mat-icon> <span>عرض التقارير     </span></a>
              </mat-expansion-panel>
     
          <mat-expansion-panel 
          [hideToggle]='true'
          class="primary"
          [style.border-right]="InvState ?  '5px solid #9DE4F4': '' " 
          (opened)="InvState = true"
          (closed)="InvState = false" 
          [style.box-shadow]="true ? '0 0 0 ':'0 0 0 ' ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon> store </mat-icon> <span>المخزون   </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <a mat-list-item routerLink="inventory" >  <mat-icon>store </mat-icon> <span>عرض المخزون      </span></a>
             </mat-expansion-panel>
          </mat-accordion>
      </mat-nav-list>

    </mat-sidenav>


       

    <mat-sidenav-content class="example-sidenav-content" >
    <!-- [style.margin-right.px]="((!(mobileQuery.matches)) && (snav.opened) )? 240 : 0" -->
     
    
    <router-outlet> </router-outlet>

    </mat-sidenav-content>  
    
    
  </mat-sidenav-container>

  
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

