<div   class=" Mycontainer"> 
    <h1 class="title">  المستفيدون </h1>
<div class="">
<div  class=" clearfix grid"> 
    <div class='col-md-3 col-sm-6  col-xs-12 col-lg-3'>
  <figure class="effect-oscar  figureSize">
      <img src="../images/portfolio/1.jpg" alt="img01"/>
      <figcaption>
          <h2>القطاع الخدمي</h2>
          <p>المقاهي،المطاعم<br>
      </figcaption>
  </figure>
</div>
    <div class='col-md-3 col-sm-6  col-xs-12 col-lg-3'>
   <figure class="effect-oscar figureSize">
      <img src="../images/portfolio/2.jpg" alt="img01"/>
      <figcaption>
          <h2>قطاع التجزئة</h2>
          <p>المتاجر<br>              
      </figcaption>
  </figure>
  </div>
      <div class='col-md-3 col-sm-6  col-xs-12 col-lg-3'>
   <figure class="effect-oscar  figureSize">
      <img src="../images/portfolio/3.jpg" alt="img01"/>
      <figcaption>
          <h2>التموينات</h2>
          <p>بقالة<br>
                     
      </figcaption>
  </figure>
  </div>
      <div class='col-md-3 col-sm-6  col-xs-12 col-lg-3'>
   <figure class="effect-oscar figureSize">
      <img src="../images/portfolio/جمعية-خيرية.jpg" alt="img01"/>
      <figcaption>
          <h2>جمعيات خيرية</h2>
          <p><br>
          </p>            
      </figcaption>
    </figure>
    </div>
</div>
</div>
</div>