<div   class=" Mycontainer "> 
  <div class="imgcontainer">
      <div class='col-md-2 col-sm-4  col-xs-6 col-lg-2'>
        <img class="featuresImg" src="assets/imgs/features/Inv.png" alt="إدار المخزون"/>
</div>
<div class='col-md-2 col-sm-4  col-xs-6 col-lg-2'>

        <img class="featuresImg" src="assets/imgs/features/Cloud.png" alt="تخزين سحابي"/>

</div>

<div class='col-md-2 col-sm-4  col-xs-6 col-lg-2'>

        <img class="featuresImg" src="assets/imgs/features/Reports.png" alt="تقارير و رسوم بيانية"/>

</div>
<div class='col-md-2 col-sm-4  col-xs-6 col-lg-2'>


        <img class="featuresImg" src="assets/imgs/features/accounting.png" alt="محاسبة سهلة"/>


</div>
<div class='col-md-2 col-sm-4  col-xs-6 col-lg-2'>

        <img class="featuresImg" src="assets/imgs/features/Portable.png" alt="نقاط بيع متعددة"/>
        </div>
    </div>
 </div>