<div   class=" Mycontainer "> 
  <div class="imgcontainer">
        <img class="featuresImg" src="assets/imgs/features/Inv.png" alt="إدار المخزون"/>



        <img class="featuresImg" src="assets/imgs/features/Cloud.png" alt="تخزين سحابي"/>


 
        <img class="featuresImg" src="assets/imgs/features/Reports.png" alt="تقارير و رسوم بيانية"/>



        <img class="featuresImg" src="assets/imgs/features/accounting.png" alt="محاسبة سهلة"/>



        <img class="featuresImg" src="assets/imgs/features/Portable.png" alt="نقاط بيع متعددة"/>
    </div>
 </div>