.viewProduct
{
    width: 25%;
    height: 25%;
    max-height: 250px;
    max-width: 250px;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border: 25px;
    margin: 12px 0px 7px 9px;
    display: inline-table;
}
.ViewsContainer
{
    margin-right:15px; 
    align-content: center;
    align-self: center;
    align-items: center;
}
.tabContent
{
    padding-top:10px; 
    height: 100%;
}
.PageTitle
{
    margin: 15px;
    height: 40px;
    width: fit-content;
}
.PageTitle h2
{
    margin: 0px;
}
.Viewimg
{
    margin-top: 0px !important ; 
    width: 75%;
    height: 60%;
    overflow-wrap: normal;
    overflow: hidden;
    align-content: center
}
.btn-Add
{
    float: left;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

  .OptionBtn
  {
      margin: 0px;
      width: 100%;
      align-self: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: fit-content;
  }

  .OptionBtn button
  {
      width: 100%;
  }
  .PageTitle
  {
      width: auto;
      margin: 15px;
      height: 40px;
  }
  .PageTitle span h2
  {
      font-size: 22px;
      margin: 0px;
  }

  table {

    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: rghit;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.head {
    font-size: 18px;
    font-weight: 600;
    background-color: #73bfe2;

}
.reportContent
{
    width: 90%;
    margin: 0 5%;
}
.chart-pie
{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding-right: 5%;
}
td,th
{
    align-content: right;
    align-self: right;
    text-align: right;
    padding: 10px;
}