<div class="Mycontainer">  
    <div class="carousel-inner">
        <div class="col-md-6 col-sm-12 right">
<h3>
    تبحث عن نظام لإدارة مشروعك محاسبيا؟
</h3>
<p class='mainText'>
    إيراد، نظام محاسبي بسيط وذكي يسهل عملية نقاط البيع المتعددة، وعملية الفوترة، وكذاك أوامر الشراء وتحويلها إلى فاتورة بضغطة واحدة! 
    كما يقوم بعملياتك المحاسبية تلقائيا لتتمكن من استعراض التقارير والرسوم البيانية لمتابعة حالة مشروعك
</p>

        </div>
<div class="col-md-6 col-sm-12 right">

      <div class="item active">
        <!-- <img src="assets/imgs/PC.png" alt="banner">           -->
        <iframe width="100%" height="450em" src="https://www.youtube.com/embed/2xVRn7gqyBo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      </div>
      <!-- #Item 1 -->

</div>

<!-- #Slider Ends -->
</div>