.viewProduct
{
    width: 25%;
    height: 25%;
    max-height: 250px;
    max-width: 250px;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border: 25px;
    margin: 12px 0px 7px 9px;
    display: inline-table;
}
.ViewsContainer
{
    margin-right:15px; 
    align-content: center;
    align-self: center;
    align-items: center;
}
.tabContent
{
    padding-top:10px; 
    height: 100%;
}
.PageTitle
{
    margin: 15px;
    height: 40px;
    width: fit-content;
}
.PageTitle h2
{
    margin: 0px;
}

.reportBar
{
    flex: auto;
    /* margin-left:7%; */
}
.Viewimg
{
    margin-top: 0px !important ; 
    width: 75%;
    height: 60%;
    overflow-wrap: normal;
    overflow: hidden;
    align-content: center
}
.btn-Add
{
    float: left;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

  .OptionBtn
  {
      margin: 0px;
      width: 100%;
      align-self: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: fit-content;
  }

  .OptionBtn button
  {
      width: 100%;
  }
  .PageTitle
  {
      width: auto;
      margin: 15px;
      height: 40px;
  }
  .PageTitle span h2
  {
      font-size: 22px;
      margin: 0px;
  }

  table {

    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: rghit;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.head {
    font-size: 18px;
    font-weight: 600;
    background-color: #73bfe2;

}
.contaner
{
    background-color: whitesmoke;
    border-radius: 1%;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.headerText
{
font-size: 1.5em;

}

.Theader {
padding: 20px;
    text-align: center !important;
  }
  
  .header-group-row {
    border: none;
    align-items: stretch;
  }
  .header-group {
    flex: 1.38;
     align-items: center;
      /* border-right: 1px solid rgba(0, 0, 0, 0.12); */
      border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
.righborder
{
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.reportContent
{
    width: 90%;
    margin: 0 5%;
}
 mat-cell  , mat-header-cell , mat-paginator , .mat-header-cell
{
font-size: 110%;
text-align: right;
text-indent: 1.5px;
line-height: 2;
font-weight: 500;
}
mat-paginator , mat-paginator-container
{
    display: -webkit-box;
}
.right
{
    float: right !important;
}
td,th
{
    align-content: right;
    align-self: right;
    text-align: right;
    padding: 10px;
}

Theader
{
    padding-right: 10px;
    text-align: center !important;
    color: blue;
}
.assets , .mat-header-cell , mat-header-cell
{
    color:  #4989A5;
}
.liabilities
{
    color: #6Dc4e2;
}


.contane
{
    background-color: whitesmoke;
    border-radius: 1%;
    /* height: 60px;
    display: flex; */
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.PageTitl
{
    min-height: 60px;
    width: 99%;
    margin: 2% 0.5%;

}
.contane div
{
    margin-top:2em ;
    margin-bottom: 1em;
}
.onClick
{
    cursor: pointer;

}