.viewProduct
{
    width: 25%;
    height: 25%;
    max-height: 250px;
    max-width: 250px;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border: 25px;
    margin: 12px 0px 7px 9px;
    display: inline-table;
}
.ViewsContainer
{
    margin-right:15px; 
    align-content: center;
    align-self: center;
    align-items: center;
}

.PageTitle
{
    margin: 15px;
    height: 40px;
}
.PageTitle h2
{
    margin: 0px;
}
.Viewimg
{
    margin-top: 0px !important ; 
    width: 75%;
    height: 60%;
    overflow-wrap: normal;
    overflow: hidden;
    align-content: center
}
.btn-Add
{
    float: left;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

  .OptionBtn
  {
      margin: 0px;
      width: 100%;
      align-self: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: fit-content;
  }
  .reportsContainer
  {
    display: inline-flex;  
  }
.reportImgs
{
    width: 100%;
    height: 100%;

}
.reportImgs :hover
{
    opacity: 0.5;
}
.reportImgsContainer
{
    height: fit-content;
    width: fit-content;
}
  .OptionBtn button
  {
      width: 100%;
  }
  .PageTitle
  {
      width: auto;
      margin: 15px;
      height: 40px;
  }
  .PageTitle span h2
  {
      font-size: 22px;
      margin: 0px;
  }
  