<mat-toolbar  class="PageTitle">
    <mat-toolbar-row>
  
                <span class="toolbar-spacer"></span>

        <span color="primary">   <h2>  التقارير  </h2> </span>
          
        <span class="toolbar-spacer"></span>


    </mat-toolbar-row>
  
</mat-toolbar>

    <mat-grid-list cols="4" rowHeight="1:1" dir="rtl ">
        <mat-grid-tile  [colspan]="1"   [rowspan]="1">
            <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp " (click)="salesReport()" matTooltip="تقرير  المبيعات  ">
                <img src="assets/imgs/Icons/PNG/تقرير المبيعات-01.png" class="reportImgs" alt=""/>
            </figure>
        </mat-grid-tile>

        <mat-grid-tile  [colspan]="1" [rowspan]="1">
            <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير الإيرادات ">
                <img src="assets/imgs/Icons/PNG/تقرير الإيرادات -01.png" class="reportImgs" alt=""/>
            </figure>
        </mat-grid-tile>


        <mat-grid-tile  [colspan]="1"  [rowspan]="1">
            <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير المخزون  ">
                <img src="assets/imgs/Icons/PNG/تقرير المخزون-01.png" class="reportImgs" alt=""/>
            </figure>
        </mat-grid-tile>

        <mat-grid-tile  [colspan]="1"  [rowspan]="1">
            <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير المركز المالي ">
                <img src="assets/imgs/Icons/PNG/تقرير المركز المالي-01.png" class="reportImgs" alt=""/>
            </figure>
        </mat-grid-tile>


        <mat-grid-tile  [colspan]="1"  [rowspan]="1">
            <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير ساعات الموظف ">
                <img src="assets/imgs/Icons/PNG/تقرير ساعات الموظف-01.png" class="reportImgs" alt=""/>
            </figure>
        </mat-grid-tile>


        
        <mat-grid-tile  [colspan]="1"  [rowspan]="1">
                <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير مبيعات المنتج ">
                    <img src="assets/imgs/Icons/PNG/تقرير مبيعات المنتج-01.png" class="reportImgs" alt=""/>
                </figure>
            </mat-grid-tile>

            
        <mat-grid-tile  [colspan]="1"  [rowspan]="1">
                <figure class="mat-figure effect-oscar reportImgsContainer fadeInUp" (click)="salesReport()" matTooltip="تقرير مبيعات الموظف ">
                    <img src="assets/imgs/Icons/PNG/تقرير مبيعات الموظف-01.png" class="reportImgs" alt=""/>
                </figure>
            </mat-grid-tile>

             
    
      </mat-grid-list>

