.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .formContainer
  {
    font-family: 'Amiri' !important;
      margin: 10% 20%;
      align-self: center;
      
  }
  p mat-form-field
  {
    text-align: right;
    font-size: 18px;
    float: right;
    text-indent: 1.5px; 
  }
  p mat-form-field app-input-file
  {
    width: 100%;
    float: right;
    text-indent: 1.5px;
    text-align: right;
    font-size: 18px;
  }
