
<mat-card class="formContainer" >
  <mat-card-title>	
    <h2> إضافة تصنيف </h2>
  </mat-card-title>

  <form class="example-form">

  
    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="الأسم ">
      </mat-form-field>
    </p>
  
    <p>
    <mat-form-field class="example-full-width ">
       <!-- <app-input-file formControlName="basicfile" placeholder=" إضافة صورة " ></app-input-file>-->
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
    </p>
<p>
    <button type="submit" mat-raised-button>إضافة </button>
    <button type="cancel" mat-raised-button>إلغاء  </button>
  </p> 
   <!-- <p>
    <mat-form-field class="example-full-width">
      <input  type="" >
    </mat-form-field>
   </p>  -->

  </form>
</mat-card>