<mat-toolbar   style="background-color:transparent">
    <span class="primary">
        <a  (click)="gobacktoProducts()" > <span>العودة إلى عرض الموظفين </span></a> 
    </span>
    <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-card class="formContainer" >
    <mat-card-title>	
      <h2> إضافة موظف </h2>
    </mat-card-title>
    <flash-messages></flash-messages>
<mat-card-content>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
        <input type="hidden" name="picPATH" #picPATH="ngModel" [(ngModel)]="employeeService.selectedEmployee.picPATH">
        <input type="hidden" name="picName" #picName="ngModel" [(ngModel)]="employeeService.selectedEmployee.picName">       
        <input type="hidden" name="username" #username="ngModel" [(ngModel)]="employeeService.selectedEmployee.username">
        <input type="hidden" name="password" #password="ngModel" [(ngModel)]="employeeService.selectedEmployee.password" >
       
        
  <table>
    
    <tr> 
        <td>
        <mat-form-field class="example-full-width">
        <input matInput   name="firstName" #firstName="ngModel"   
        [(ngModel)]="employeeService.selectedEmployee.firstName" 
        placeholder="الاسم الأول" minlength="2" required>
      </mat-form-field>
        </td>
       </tr>
       <tr>
        <td>
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"  class="alert alert-danger">
          <div [hidden]="!firstName.errors.minlength">
            *يجب ان يكون الأسم الأول على الاقل متكون من حرفين</div>

          <div [hidden]="!firstName.errors.required">*ارجوإدخال الأسم الأول</div>
    </div>
        </td>
      </tr>

       <tr>
        <td>
      <mat-form-field class="example-full-width">
          <input matInput  minlength="3" name="lastName" #lastName="ngModel" 
          [(ngModel)]="employeeService.selectedEmployee.lastName" 
          placeholder="العائلة" required>
        </mat-form-field>
      </td>
      </tr>
        <tr>

     <td>
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"  class="alert alert-danger">
            <div [hidden]="!lastName.errors.minlength">
              *يجب ان يكون أسم العائلة على الاقل متكون من  ثلاثة أحرف</div>

            <div [hidden]="!lastName.errors.required">*ارجو إدخال إسم العائلة</div>
      </div>
     </td>

      </tr>

      <tr>
        <td>
        <mat-form-field class="example-full-width">
        <input matInput   type="email" name="email" #email="ngModel" 
        [(ngModel)]="employeeService.selectedEmployee.email" 
        placeholder="البريد الإلكتروني"  
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
      </mat-form-field>
      </td>
    </tr>
      <tr>
      <td>
          <div *ngIf="email.errors && (email.dirty || email.touched)"  class="alert alert-danger">
              <div [hidden]="!email.errors.required">*ارجو إدخال البريد الإلكتروني</div>
              <div [hidden]="!email.errors.pattern">*فورمات البريد الإلكتروني غير صحيحة</div>
        </div>
          </td>
      </tr>
      
      <tr>
          <td>
      <mat-form-field class="example-full-width">
        <input matInput type="tel"   name="phone" #phone="ngModel" 
        [(ngModel)]="employeeService.selectedEmployee.phone" 
        minlength="10" pattern="[0-9]*" placeholder="الجوال">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </td>
  </tr>
    <tr>
    <td>
        <div *ngIf="phone.errors && (phone.dirty || phone.touched)"  class="alert alert-danger">
            <div [hidden]="!phone.errors.pattern">*رقم الجوال يجب ان يحتوي على أرقام فقط</div>
            <div [hidden]="!phone.errors.minlength">
              *رقم الجوال يجب أن لا يقل عن 10 أرقام </div>
      </div>
    </td>
  </tr>
      
  <tr>
      <td>
      <mat-form-field class="example-full-width">
            <input  matInput type="number"   name="salary" #salary="ngModel" 
            [(ngModel)]="employeeService.selectedEmployee.salary" 
            placeholder="الراتب">
            <mat-icon matSuffix>money</mat-icon>
      </mat-form-field>
          </td>
          </tr>

          <tr>
          <td>
            
      <div class="form-group" >
        <label>
           <h4>صورة الموظف:</h4>
          <input  type="file" (change)="detectFiles($event)">
        </label>        
        </div>
      </td>
      </tr>

      <tr>
        <td>
      <div *ngIf="num" >
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': num + '%' }"></div>
        </div>
        التحميل: | : {{num}}% اكتمل
      </div>
    </td>
  </tr>
      
      
      
  <tr>
      <td>
       
        <button class="btn btn-default"  type="submit" color="primary" mat-button [disabled]="!employeeForm.valid">
         <i class="fa fa-floppy-o"></i>
         إضافة</button>
      </td>
    </tr>


      <tr>
      <td>
           <button type="button" color="primary" mat-button (click)="cancel()">
          <i class="fa fa-repeat"></i>
           إلغاء</button>
           </td>
           </tr>

          </table>
          </form>
          </mat-card-content>
  </mat-card>