.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .formContainer
  {
    font-family: 'Amiri' !important;
      margin: 1% 2%;
      align-self: center; 
      
  }
  td mat-form-field
  {
  
    text-align: right;
    font-size: 18px;
    float: right;
    line-height: 2;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.blueBtn
{

    background-color: #6Dc4e2; 

}

.greyBtn
{
    background-color:#A8A8A8;

}
.Btns
{
    color:white;
    height: 3em;
   
    width: 12em;
    margin: 1em !important;
}
 table
 {

     width: 100%;
 }
 td button
 {
   width: 100%;
   height: 100%;
 }
  td mat-form-field app-input-file
  {
    float: right;
    text-indent: 1.5px;
    text-align: right;
    font-size: 18px;
  }

  div {
    text-align: right;
  }
  .red{
    color: red;
  }
  
  .dialogTitle , .DialogOptionBtn
  {
    display: -ms-inline-grid;;
    direction: rtl;
    align-content: center;
}
