<mat-toolbar  class="PageTitle">

    <mat-toolbar-row>
      
          <span class="toolbar-spacer"></span>
    
    <span color="primary">   <h2>  {{title}}  </h2> </span>
    
    <span class="toolbar-spacer"></span>
    
    
    </mat-toolbar-row>
    </mat-toolbar>
    
<mat-card class="formContainer" >
  <flash-messages></flash-messages>
<mat-card-content>

  <form  #expensesForm="ngForm" (ngSubmit)="onSubmit(expensesForm)" dir="rtl">

   <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="expenses.$key">
   

   
   <div class="row">
   <div class="form-group col-md-3 col-sm-12">
    <mat-form-field>
      <mat-select  name="month" #month="ngModel"         
        placeholder="الشهر"
        [(ngModel)]='expenses.month'
        >
        <mat-option *ngFor="let month of months" [value]=" month ">
          {{month}}
        </mat-option>
        </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select  name="year" #year="ngModel"         
    placeholder="السنة"
    [(ngModel)]='expenses.year'
    >
    <mat-option *ngFor="let year of years" [value]=" year ">
      {{year}}
    </mat-option>
    </mat-select>
</mat-form-field>
</div>
</div>


<div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label > <h4> مجموع المصروفات الشهرية 
        <span>(إجار المحل, فاتورة الكهرب, فاتورة الماء,...)</span> </h4> </label>
         
 
        <input matInput type="number" name="expenses" #expenses="ngModel" placeholder="مثال: 2000"
        [(ngModel)]="expenses.expenses" class="form-control" pattern="[0-9]*" required>
  


      <div *ngIf="expenses.errors && (expenses.dirty || expenses.touched)"  class="alert alert-danger">
        <div [hidden]="!expenses.errors.required">*يرجى إدخال المصروفات الشهرية</div>  
        <div [hidden]="!expenses.errors.pattern">*يرجى إدخال أرقام صحيحة فقط</div>
    </div>
    </div>    
    </div>
    
    <div class="row">
      <button  mat-raised-button class="Btns  blueBtn"  type="submit"
      [disabled]="!expensesForm.valid">
          إضافة</button>
        </div>
        </form>

      
        </mat-card-content>
</mat-card>