.viewProduct
{
    width: 25%;
    height: 25%;
    max-height: 250px;
    max-width: 250px;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border: 25px;
    margin: 12px 0px 7px 9px;
    display: inline-table;
}
.ViewsContainer
{
    margin-right:15px; 
    align-content: center;
    align-self: center;
    align-items: center;
}
.OptionBtn
{
    width: fit-content;
    height: fit-content;
}
.PageTitle
{
    margin: 15px;
    height: 40px;
}
.PageTitle h2
{
    margin: 0px;
}
.Viewimg
{
    margin-top: 0px !important ; 
    width: 150px;
    height: 150px;
    overflow-wrap: normal;
    overflow: hidden;
    align-content: center
}
.btn-Add
{
    float: left;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }
  .OptionBtn
  {
      margin: 0px;
      width: 100%;
      align-content: center;
      width: fit-content;
      height: fit-content;
  }
  .PageTitle
  {
      width: auto;
      margin: 15px;
      height: 40px;
  }
  .PageTitle span h2
  {
      font-size: 22px;
      margin: 0px;
  }
  mat-toolbar mat-toolbar-row span mat-form-field
  {
      text-align: right;
      font-size: 14px;
      float: right;
      line-height: 2;
  }
  .dialogTitle , .DialogOptionBtn
  {
    display: -ms-inline-grid;;
    direction: rtl;
    align-content: center;
}


 