.example-card {
    max-width: 90%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 20%

  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;

  }

  .greenBtn
  { 
      
      background-color: #4989A5;
    
  }
  
  .blueBtn
  {
  
      background-color: #6Dc4e2; 
  
  }
 
  .greyBtn
  {
      background-color:#A8A8A8;
  
  }
  .lightBlueBtn
  {
    background-color:#9DE4F4
  }
  .goBack
  {
    color: #4989A5;
    font-size: 0.8em;
    margin: 0;
  }
  .title
  {
    font-size: 2.4em;
    margin: 0;
  }
  .Btns
  {
      color:white;
      height: 3em;
     
      width: 12em;
      margin: 1em !important;
  }

  .info
  {
     
    color: #6Dc4e2;
    font-size: 1em;
  }
  .header{
      float: right;
      font-size: 1.5em;
 }
.Imgheader
    {

    font-size: 1.5em;  
    }
   img
  {
      width: 100% !important;
      height: 100% !important;
  }
  table
  {
      text-align: right;
      width: 100%;
  }

  .dialogTitle , .DialogOptionBtn
  {
    display: -ms-inline-grid;;
    direction: rtl;
    align-content: center;
}


.ViewsContainer
{
    margin-right:15px; 
    align-content: center;
    align-self: center;
    align-items: center;
}
.PageTitle
{
    width: auto;
    margin: 15px;
    height: 40px;
}
.PageTitle span h2
{
    font-size: 22px;
    margin: 0px;
}
mat-card-title {
    font-size: 30px;
}
mat-toolbar mat-toolbar-row span mat-form-field
{
    text-align: right;
    font-size: 14px;
    float: right;
    line-height: 2;
}
.toolbar-spacer {
    flex: 1 1 auto;
  }
 b{
     font-size: 22px;
 }

  h5 {
      margin-right: 20px;
  }
