<mat-toolbar   style="background-color:transparent">
        <mat-toolbar-row>
    <span class="primary">
        <a  (click)="gobacktoProducts()">  <p class='goBack' >الذهاب إلى عرض  المنتجات  </p></a> 
    </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    <span class="toolbar-spacer"></span>
     <h2 class="title"> {{ title }} {{name}} </h2> 
    <span class="toolbar-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

    
<mat-card class="example-card">
<mat-card-content>
        <div class="col-md-12" dir="rtl" >
        <div class='col-md-9   col-sm-8 '>
                
       
        <div class='col-md-12 '> 
              <h5 class='header'> الوصف:   <span class='info'> {{description}} </span>  </h5> 
        </div> 
        
        <div class='col-md-12'> 
                <h5 class='header'>  التصنيف:    <span class='info'>   {{Tag}}  </span> </h5>
         </div>
       
         <div class='col-md-12'> 
                <h5 class='header'>  سعر التكلفة : <span class='info' >  {{cost}} ر.س   </span>  </h5>
         </div>

         <div class='col-md-12'> 
                <h5 class='header'>  سعر البيع  : <span class='info' >  {{price}} ر.س   </span>  </h5>
         </div>

         <div class='col-md-12 '> 
                <h5 class='header'>  الكمية المتوفرة :   <span class='info'> {{quantity}} </span>  </h5> 
          </div>



        </div>
        <div class='col-md-3  col-sm-4' >
            
                <div  class="example-header-image"><img src={{img}}></div>
                <br>
                <h5 class="Imgheader">{{name}} </h5>
                <br>
                          
              </div>
    </div>
                
        </mat-card-content>
   
        <div>
     <button mat-raised-button class= " Btns blueBtn" (click)="  prodSales()" >عرض مبيعات المنتج   </button> 
      <button mat-raised-button  class='Btns greenBtn' (click)="onEdit()" > تعديل بيانات المنتج  </button>  
      <button mat-raised-button  class='Btns greyBtn' (click)="openDialog()" >حذف المنتج  </button> 
    
    </div>

  </mat-card>
  