<mat-toolbar  class="PageTitle" style="background-color:transparent">
        <span class="toolbar-spacer"></span>
        <span color="primary">   <h2> {{ title }} </h2> </span>
        <span class="toolbar-spacer"></span>
       </mat-toolbar>  
        
      
      <mat-toolbar  class="PageTitle">
          <mat-toolbar-row>
                     
        <span color="primary"> <button mat-button (click)="AddProd()" color="primary"> <mat-icon>add</mat-icon>  {{AddProds}}</button>   </span>
        <span class="toolbar-spacer"></span>

              <span>
                <mat-form-field class="example-full-width">
              <mat-label>عرض بحسب التصنيف</mat-label>            
                  <mat-select  name="category"  
                   [(value)]="selected"
                   (change)="productToggle(selected)">
                    <mat-option  value="ALLCAT"  >
                      عرض الجميع 
                    </mat-option>
      
                    <mat-option *ngFor="let category of category" [value]=" category.$key ">
                      {{category.$key}}
                    </mat-option>
      
                  </mat-select>
                </mat-form-field>
      
            </span>
              <span class="toolbar-spacer"></span>
            <span> 
                  <mat-form-field >
                        <mat-label>البحث عن منتج </mat-label>    
                <input  matInput  type="search" class="search" color="primary" (keypress)="searchProduct(search)" [(value)]="search"> 
              </mat-form-field>
          </span>
      
          </mat-toolbar-row>
        
      </mat-toolbar>
      
      
<flash-messages></flash-messages>

<section class="ViewsContainer"  > 

<mat-card class="viewProduct"  *ngFor="let product of tempProducts" >
   <a> <img (click)="viewProduct(product )" mat-card-image class="Viewimg" src={{product.picPath}}> </a>
    <mat-card-content (click)="viewProduct(product )" role="group" >
     <h3>{{product.name }}</h3> 
     <h6> الكمية المتوفرة :
            <span> {{product.inventory }}</span>
     </h6>
     <h6> التصنيف :
            <span> {{product.category }}</span>
     </h6>
    </mat-card-content>
    <mat-card-actions role="group" class="OptionBtn">	
    <button mat-button (click)="viewProduct(product )"> <mat-icon> description </mat-icon> عرض البيانات</button>
    <button mat-button (click)="openDialog(product )"> <mat-icon> add </mat-icon> إضافة كمية  </button>
    </mat-card-actions>	
</mat-card>

</section>

