<mat-toolbar  class="PageTitle">
    <mat-toolbar-row>
            <button mat-button (click)="snav.toggle()" color="primary"> <mat-icon>person_add</mat-icon>
                {{AddBtn}}</button>   
                <span class="toolbar-spacer"></span>

        <span color="primary">   <h2> {{ title }} </h2> </span>
          
        <span class="toolbar-spacer"></span>

      <span> 
            <mat-form-field >
          <input  matInput  type="search" class="search" color="primary" placeholder=" ابحث"> 
        </mat-form-field>
    </span>


    </mat-toolbar-row>
  
</mat-toolbar>


<section class="ViewsContainer"  >

<mat-card class="viewProduct"  *ngFor="let item of items" >
    <img mat-card-image class="Viewimg" src={{item.img}}>
    <mat-card-content role="group" >
     <h3>{{item.name }}</h3> 
    </mat-card-content>
    <mat-card-actions role="group" class="OptionBtn">	
    <button mat-button (click)="viewProduct(item )"> <mat-icon> description </mat-icon> عرض البيانات</button>
    <button mat-button (click)="deletItem( item)"> <mat-icon> edit </mat-icon> تعديل  </button>
    </mat-card-actions>	
</mat-card>

</section>

