/* @import "~bootstrap/dist/css/bootstrap.css";*/

@import "~font-awesome/css/font-awesome.min.css"; 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Amiri|Cairo|Changa|Scheherazade";
body
{
    font-family: 'Amiri' !important;
    direction:rtl ;
    text-align: center;
}
<<<<<<< HEAD
=======
input.ng-invalid.ng-dirty{
}
button:hover,a.btn:hover{
    cursor: pointer;
   }

h2 , h1 , h3 , h4 ,h5  {
    color: lightblue;
    
}

>>>>>>> 4feecb742d80aaf22e8129c717d12b2c17be0e25
