/* @import "~bootstrap/dist/css/bootstrap.css";*/

@import "~font-awesome/css/font-awesome.min.css"; 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Amiri|Cairo|Changa|Scheherazade";
body
{
    font-family: 'Amiri' !important;
    direction:rtl ;
    text-align: center;
}
input.ng-invalid.ng-dirty{
}
button:hover,a.btn:hover{
    cursor: pointer;
   }