<mat-toolbar   style="background-color:transparent">
  <span class="primary">

  </span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-card class="formContainer" >
  <mat-card-title>	
    <h2> تغيير الرقم السري </h2>
  </mat-card-title>
  <flash-messages></flash-messages>
<mat-card-content>

  <flash-messages></flash-messages>

<form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" dir="rtl">
  
<div *ngIf="password.errors && (password.dirty || password.touched)"  class="alert alert-danger">
    <div [hidden]="!password.errors.required">*أرجو إدخال الرقم السري</div>
    <div [hidden]="!password.errors.minlength">*يجب أن لا يقل الرقم السري عن 8 خانات</div>
</div>

  <div class="form-group col-md-6 col-sm-12">
      <label > <h4>   الرقم السري السابق <span class="red">* </span></h4> </label>
      <input matInput    type="password" name="email" #email="ngModel"
      [(ngModel)]="changePass.email"  class="form-control" required>     
   
  </div>
  
  <div class="form-group col-md-6 col-sm-12">
    <label > <h4>   الرقم السري الجديد <span class="red">* </span></h4> </label>
    <input matInput   type="password" name="password" #password="ngModel"
    [(ngModel)]="changePass.password"  class="form-control"
    minlength="8" required>

  </div>
  <button  mat-raised-button class="Btns  blueBtn"  type="submit"   (click)="submit(loginForm)" [disabled]="!loginForm.valid">
      تغير الرقم السري</button>

  </form>
</mat-card-content>
</mat-card>