.boutonAlign
{
    margin-bottom: 8px;
}
  mat-form-field
  {
  
    text-align: right;
    font-size: 18px;
    line-height: 2;
  }

  
  .dialogTitle , .DialogOptionBtn
  {
      display: -ms-inline-grid;;
      direction: rtl;
      align-content: center;
  }

  .alert.flash-message{
    margin-top:8px;
}