
<mat-card class="formContainer" >
    <mat-card-title>	
      <h2> إضافة تصنيف </h2>
    </mat-card-title>
  
    <form class="example-form">
  <table>
    <tr>
      <td>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="اسم التصنيف ">
            </mat-form-field>
      </td>
    </tr>
   
        <tr>
            <td>
                <button type="submit" color="primary" mat-button>إضافة </button>
            </td>
            <td>
                <button type="cancel" color="accent" mat-button>إلغاء  </button>
              </td>
          </tr>
  </table>


     <!-- <p>
      <mat-form-field class="example-full-width">
        <input  type="" >
      </mat-form-field>
     </p>  -->
  
    </form>
  </mat-card>