<mat-toolbar   style="background-color:transparent">
    <span class="primary">
        <a  (click)="gobacktoProducts()" > <span>العودة إلى عرض المنتجات </span></a> 
    </span>
    <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-toolbar  class="PageTitle">
    <mat-toolbar-row>
               
                <span class="toolbar-spacer"></span>

        <span color="primary">   <h2> {{ title }} </h2> </span>
          
        <span class="toolbar-spacer"></span>

    </mat-toolbar-row>
  
</mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img src={{img}}></div>
      <mat-card-title>{{name}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
       
          <td>
              <h3> البريد الألكتروني  </h3>
          </td>

          <td>
              <p> {{Email}} </p>
          </td>
        </tr>
        <tr>
          <td>
              <h3> الجوال </h3>
          </td>
          <td>
              <p>  {{phone}}  </p>
          </td>
        </tr>
        <tr>
          <td>
              <h3> الراتب  </h3>
          </td>
          <td>
              <p> {{salary}}ريال   </p>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>عرض تقرير أداء الموظف </button>
      <button mat-button>عرض تقرير ساعات عمل الموظف </button>
      <button mat-button (click)="delete()">تسريح الموظف  </button>
      <button mat-button (click)="openDialog()">زيادة راتب الموظف </button>
    </mat-card-actions>
  </mat-card>
  